doctype
html(lang="ja")
  head
    meta(charset='UTF-8')
    title No name

    block meta
      meta(name='author', content=name)
      meta(name='viewport',content='width=device-width')
      meta(neme='description',content=description)
      meta(neme='keywords',content=keywords)
      meta(name="robots" ,content="INDEX,FOLLOW,NOODP,NOYDIR,NOARCHIVE")

    block style
      link(rel='stylesheet', href='css/style.css')
    
    block script  
      script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

  body
    block body
