doctype
html(lang="ja")
  head
    meta(charset='UTF-8')
    title No name

    block meta
      meta(name='viewport', content='width=device-width')
      meta(neme='description',content='')
      meta(neme='keywords',content='')

    block style
      link(rel='stylesheet', href='css/style.css')

  body
    block content
