@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);

$accent-color: #1abc9c;
$accent-hover-color: lighten($accent-color, 10%);
$linkColor: #000;
$linkHoverColor: #888;

body {
  padding-top: 50px;
}

#sns > div {
    display: inline-block;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
