extend includes/_layout

block append meta
  include includes/_inc_sns_meta

block body
  include includes/_inc_embed_sns
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button",data-toggle="collapse" data-target="#navbar" aria-expanded="false",aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") gulpstrap
      div#navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#works") Works
          li
            a(href="#contact") Contact
  div.container
    div.starter-template
      h1 Bootstrap starter template
      p.lead 
        | Use this document as a way to quickly start any new project.
        br 
        | All you get is this text and a mostly barebones HTML document.
