<% include common/_layout %>
<body>
  <div id="conteiner">
    <header id="header">
      <div id="header_inr">
        <h1 class="logo">EJS DEMO PAGE</h1>
      </div>
    </header>
  </div>
</body>
