extend includes/_layout

block content
  div#container
    header
      div#header_inr
        h1
          a(href="#")
            img(src="", alt="gulp template")
        nav
          ul#global-nav
            li
              a(href="#") about
            li
              a(href="#") works
            li
              a(href="#",target="_blank") blog
            li
              a(href="#") contact
    section.item