extend includes/_layout

block append meta
  include includes/_inc_sns_meta

block body
  div#container
    header
      div#header_inr
        h1
          a(href="#")
            img(src="", alt="gulp template")
        nav
          ul#global-nav
            li
              a(href="#") about
            li
              a(href="#") works
            li
              a(href="#",target="_blank") blog
            li
              a(href="#") contact
    section.sns
      div#sns-facebook
        include includes/_inc_embed_facebook
      div#sns-twitter
        include includes/_inc_embed_twitter

    footer
      p#copyright No rights reserved.
