extend includes/_layout

block content
  div#conttainer
    header
      h1 Jade - node template engine
      div.menu
        button.menu-button
          span.menu-button-inner
    div#content
      section
  script(type='text/javascript',src='https://rawgit.com/jeffshaver/brief.js/master/src/brief.js')
  script(type='text/javascript' src='js/main.js')